.intro {
  color: red;
}

.appreciation {
  font-size: 25px;
}

h2.intro {
  color: green;
}

p.intro {
  color: blue;
}

img.intro {
  border-style: double;
  max-height: 50%;
  max-width: 50%;
  float: right;
}

#line2 {
    color: yellow;
}

.special {
    font-family: Arial;
}

.sidebar {
    float: center;
}

.column {
  width: 600px;
  float:left;
}